<!DOCTYPE html>
<html>

<head>

    <title>Edit Student</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>Edit Student</h1>

    <form action="/update" method="POST">

        <input
            type="text"
            name="student_id"
            value="{{ student[0] }}"
            readonly>

        <br><br>

        <input
            type="text"
            name="name"
            value="{{ student[1] }}"
            required>

        <br><br>

        <input
            type="number"
            name="age"
            value="{{ student[2] }}"
            required>

        <br><br>

        <input
            type="text"
            name="course"
            value="{{ student[3] }}"
            required>

        <br><br>

        <input
            type="email"
            name="email"
            value="{{ student[4] }}"
            required>

        <br><br>

        <button type="submit">
            Update Student
        </button>

    </form>

    <br>

    <a href="/">
        <button>Back to Home</button>
    </a>

</div>

</body>

</html>