  <!DOCTYPE html>
<html>

<head>

    <title>Student Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>Student Management System</h1>

    <!-- TOTAL STUDENTS -->

    <div style="
        background:#0d6efd;
        color:white;
        padding:15px;
        margin-bottom:20px;
        border-radius:8px;
        text-align:center;
        font-size:22px;
        font-weight:bold;">

        Total Students : {{ total_students }}

    </div>

    <!-- SUCCESS MESSAGE -->

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

                <div style="
                    background:#d4edda;
                    color:#155724;
                    padding:12px;
                    margin-bottom:20px;
                    border-radius:5px;
                    text-align:center;
                    font-weight:bold;
                ">

                    {{ message }}

                </div>

            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- ADD STUDENT -->

    <form method="POST">

        <input
            type="text"
            name="student_id"
            placeholder="Student ID"
            required>

        <input
            type="text"
            name="name"
            placeholder="Student Name"
            required>

        <input
            type="number"
            name="age"
            placeholder="Age"
            required>

        <input
            type="text"
            name="course"
            placeholder="Course"
            required>

        <input
            type="email"
            name="email"
            placeholder="Email"
            required>

        <button type="submit">
            Add Student
        </button>

    </form>

    <hr>

    <!-- SEARCH STUDENT -->

    <h2>Search Student</h2>

    <form action="/search" method="POST">

        <input
            type="text"
            name="student_id"
            placeholder="Enter Student ID"
            required>

        <button type="submit">
            Search
        </button>

    </form>

    <hr>

    <!-- STUDENT LIST -->

    <h2>Student List</h2>

    <table>

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Course</th>
            <th>Email</th>
            <th>Action</th>
        </tr>

        {% for student in students %}

        <tr>

            <td>{{ student[0] }}</td>
            <td>{{ student[1] }}</td>
            <td>{{ student[2] }}</td>
            <td>{{ student[3] }}</td>
            <td>{{ student[4] }}</td>

            <td>

                <a href="/edit/{{ student[0] }}">

                    <button
                        type="button"
                        style="background:green;color:white;border:none;padding:8px 12px;border-radius:5px;cursor:pointer;">

                        Edit

                    </button>

                </a>

                <a href="/delete/{{ student[0] }}"
                   onclick="return confirm('Are you sure you want to delete this student?')">

                    <button
                        type="button"
                        style="background:red;color:white;border:none;padding:8px 12px;border-radius:5px;cursor:pointer;">

                        Delete

                    </button>

                </a>

            </td>

        </tr>

        {% endfor %}

    </table>

</div>

</body>

</html>ß